@font-face {
  font-family: CenturyGothic;
  src: url(./assets/font/CenturyGothic.ttf);
}

@font-face {
  font-family: gothicb;
  src: url(./assets/font/gothicb.ttf);
}

* {
  font-family: CenturyGothic, "Roboto", "sans-serif";
}

body {
  background-image: url(./assets/img/photoBG.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.colorsBG {
  background-image: linear-gradient(
    -45deg,
    rgb(9, 1, 242) 0%,
    rgb(225, 225, 225) 25%,
    rgb(223, 86, 0) 51%,
    rgb(0, 172, 94) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  background-image: url(./assets/img/photoBG.jpg);
}

#cardDate {
  font-family: gothicb, "Roboto", "sans-serif";
}

#fullCard h4 {
  font-family: gothicb, "Roboto", "sans-serif";
}

/*--------------------------TITLEBAR-------------------------*/

.titleBar p {
  font-family: gothicb, "Roboto", "sans-serif";
}
